////
/// @access public
/// @group config
/// @author James Power - <james@olice.co.uk>
////

/// Color palette
/// @type Map
$colors: (
  'purple': (
    'base': #5f2861
  ),
  'blue': (
    'base': #5c97bf
  ),
  'white': (
    'base': #fff,
    'darker': #f5f3ef
  ),
  'grey': (
    'base': #4d4d4d
  ),
  'red': (
  'base': #ff2826
  )
);

/// UI colors
/// @type Map
$color-ui: (
);

/// Gets a color from a given color dictionary.
/// @name color
/// @param {string} $name - name of color
/// @param {string} $variant ['base'] - variant of color
/// @param {number} $alpha [1] - alpha of color to use
/// @return {color} the color
@function color($name, $variant: 'base', $alpha: 1) {
  $color: null;
  // Get the color spectrum
  $color-spectrum: map-get($colors, $name);

  // Get the color variant
  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }

  // Set the alpha of the color
  @if $alpha {
    // $color: rgba($color, $alpha);
  }
  @return $color;
}

/// Gets a color from a given UI color dictionary.
/// @name color-ui
/// @param {string} $name - name of color
/// @return {color} the color
@function color-ui($name) {
  @return map-get($color-ui, $name);
};
