////
/// @access public
/// @group config
/// @author James Power - <james@olice.co.uk>
////

/// Font look-up dictionary for this project
/// @name font
/// @param {string} $key ['primary'] - alias key for font name
/// @param {string} $weight ['light'] - weight of font to look-up.
/// @param {string} $style ['normal'] - font style to use
@mixin font($key: 'primary', $weight: 'light', $style: 'normal') {
  $fonts: (
    'primary': (
      'name': 'acumin-pro',
      'weights': (
        'light': 300,
        'bold': 700
      ),
      'styles': (
        'normal': normal
      )
    )
  );

  font-family: map-fetch($fonts, $key 'name'), sans-serif;
  font-style: map-fetch($fonts, $key 'styles' $style);
  font-weight: map-fetch($fonts, $key 'weights' $weight);
};
