////
/// @access public
/// @group config
/// @author James Power - <james@olice.co.uk>
////

$width: .9;
$height: 736;
$max-width: $width * 1024;
$circle-size: to-rem(186);
$radius: to-rem(288);
$x0: to-rem($max-width / 2);
$y0: to-rem($height / 2);
$nav-gap: to-rem(16);
$video-small-width: to-rem(184);
$angles: (
  (
    'spacer': 90deg,
    'offset': 0
  ),
  (
    'spacer': 90deg,
    'offset': 45deg
  ),
  (
    'spacer': 60deg,
    'offset': 90deg - 60deg
  ),
  (
    'spacer': 45deg,
    'offset': 90deg - (45 / 2 + 45) * 1deg
  ),
  (
    'spacer': 40deg,
    'offset': 10deg
  ),
  (
    'spacer': 38deg,
    'offset': -5deg
  )
);
