////
/// @access public
/// @group config
/// @author James Power - <james@olice.co.uk>
////

/// Generates media queries
/// Mobile-first
/// @name respond-to
/// @param {string} $size - Size to use, can be small, medium or large
/// @content content is placed inside media query.
@mixin respond-to($size) {
  @if ($size == 'small') {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  @if ($size == 'medium') {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }

  @if ($size == 'large') {
    @media screen and (min-width: 1280px) {
      @content;
    }
  }
}
