////
/// @access public
/// @group config
/// @author James Power - <james@olice.co.uk>
////

// $scale-factor: 1.618 / 1; // Golden ratio
// $scale-factor: 4 / 3; // Perfect fourth
$scale-factor: 9 / 8; // Major second

/// Generates an exponential scale based on a scale-factor
/// @name scale
/// @param {string} $base-size - 0 scale
/// @param {number} $number - number
@function scale($base-size: 1rem, $number: 0) {
  @if $number == 0 {
    @return $base-size;
  }
  @else {
    @return $base-size * pow($scale-factor, $number);
  }
}

$typographic-scale: (
  -2: scale($f, -2),
  -1: scale($f, -1),
  0: scale($f, 0),
  1: scale($f, 1),
  2: scale($f, 2)
);

/// Fetches a typgraphic scale value from a dictionary
/// @name type-scale
/// @param {number} $number - scale value to look up
@function type-scale($number) {
  @return map-get($typographic-scale, $number);
}

/// Set the font-size and line-height for an element based on a typographic grid
/// @name type-setting
/// @param {number} $number - scale value to look up
/// @param {string} $unit ['rem'] - units to use
/// @todo TODO: replace $unit with $root bool
@mixin type-setting($number, $unit: 'rem') {
  $line-height-calc: strip-unit(ceil(type-scale($number) / ($u))) * $u;

  line-height: $line-height-calc;
  @if $unit == 'rem' {
    // relative to root
    font-size: type-scale($number);
  }
  @else if $unit == 'em' {
    // relative to parent
    font-size: strip-unit(type-scale($number)) * 1em;
  }
}
