////
/// @access public
/// @group config
/// @author James Power - <james@olice.co.uk>
////

/// Font basis of design
/// @type Number
$font-basis: 16; // Px basis

/// Base font-size to use in project
/// @type String
$f: 1rem;

/// Line-height basis of designs
/// @type Number
$line-height: 1.25;

/// Unit outcome to use in project
/// @type String
$u: $line-height * $f;
