html {
  display: flex;
  min-height: 100vh;
  font-size: $font-basis * 1px;
  background: #f5f3ef;
  flex-direction: column;
  justify-content: center;

  &.modernizr_no-preserve3d:not(.ie11):not(.ie10),
  &.old-ie {
    &::before {
      @include type-setting(1);
      @include font('primary');

      display: block;
      max-width: to-rem(720);
      margin: 0 auto;
      content: 'Unfortunately you are using an unsupported browser. Please upgrade to the latest version of your browser and try again.';
    }
  }
}

body {
  position: relative;
  display: flex;
  width: percentage($width);
  height: 100vh;
  max-width: to-rem($max-width);
  max-height: to-rem($height);
  margin: 0 auto;
  line-height: $u;
  flex-direction: column;
  justify-content: center;

  .modernizr_no-preserve3d:not(.ie11):not(.ie10) &,
  .old-ie & {
    display: none;
  }

  // @media screen and (max-width: $max-width), screen and (max-height: 768px) {
  //   transform: scaleX(.95) scaleY(.95);
  // }

  .ie10 &,
  .ie11 &,
  .edge & {
    // IE10+ property to put scrollbars over the top of content (like Mac)
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  > * {
    width: 100%;
  }
}

img,
video {
  display: block;
  width: 100%;
}
