// Typography
* {
  // 'fix' font rendering in Mozilla
  -moz-osx-font-smoothing: grayscale;
  // 'fix' font rendering in Chrome/Safari
  -webkit-font-smoothing: antialiased;
  // prevent font-size getting bigger for landscape iOS
  -webkit-text-size-adjust: 100%;
}

@mixin heading($level) {
  @include font('primary', 'bold');

  @if $level == 1 {
    @include type-setting(1);
  }

  @if $level == 2 {
    @include type-setting(1);
  }

  @if $level == 3 {
    @include type-setting(1);
  }

  @if $level == 4 {
    @include type-setting(0);
  }
}

.main-title {
  @include type-setting(2);
  @include font('primary');

  margin: 0;
  color: color('grey');
}
