@import 'module';

.dev-grid {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: block;
    width: auto;
    height: auto;
    pointer-events: none;
    background-image: linear-gradient(to right, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
    background-position: left .5px;
    background-repeat: repeat;
    background-size: (.5 * $f) (.5 * $f);
    content: '';
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: block;
    width: auto;
    height: auto;
    pointer-events: none;
    background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
    background-position: left .5px;
    background-repeat: repeat;
    background-size: (.5 * $f) (.5 * $f);
    content: '';
  }
}


.type-grid {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: block;
    width: auto;
    height: auto;
    pointer-events: none;
    background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
    background-position: left .5px;
    background-repeat: repeat;
    background-size: (1 * $u) (1 * $u);
    content: '';
  }
}
