/// @TODO TODO: move this to core-css
$browsers: 'ie10', 'ie11', 'edge';

@each $browser in $browsers {
  .only-#{$browser} {
    display: none;

    .#{$browser} & {
      display: block;
    }
  }

  .not-#{$browser} {
    .#{$browser} & {
      display: none;
    }
  }
}
