/// Generates icons from a given icon name
/// @todo TODO:Move this to core-css
/// @name icon
/// @group utils
/// @access public
/// @author James Power - <james@olice.co.uk>
/// @param {string} $name - name of icon to generate
@mixin icon($name) {
  $path: '../img/icon-';

  @include background-image($path + $name, 'png', $scale: true, $svg: true);

  background-position: center center;
  background-repeat: no-repeat;
}
