/// Reset's default appearance of links
/// @todo TODO:Replace with %placeholder
/// @name reset-link
/// @group utils
/// @access public
/// @author James Power - <james@olice.co.uk>
@mixin reset-link {
  color: inherit;
  text-decoration: none;
}
