/// Reset's default appearance of elements
/// I.e., buttons, inputs, etc.
/// @todo TODO:Replace with %placeholder
/// @name reset-appearance
/// @group utils
/// @access public
/// @author James Power - <james@olice.co.uk>
@mixin reset-appearance {
  padding: 0;
  background: none;
  border: 0;
  border-radius: 0;
  appearance: none;
}
