/// We don't want Windows devices to have unnessacary scrollbars.
/// This mixin allows iOS to have throw/bouncey scroll, while all other devices get regular scrolling
@mixin scroll($direction: 'y') {

  overflow-#{$direction}: auto;

  // Safari 10.0+
  // see: http://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome
  &, _::-webkit-:host:not(:root:root) {
    overflow-#{$direction}: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
