@mixin truncate($line-height, $lines) {
  display: -webkit-box;
  max-height: $lines * $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
