<div class="page" ng-repeat="page in pages track by page.id" ng-if="current === page.id" ng-class="getDirectionClass()">
  <div set-show-frame="setShowFrame" video-player show-frame="showFrame" closable="true" ng-if="page.video" video="page.video"></div>

  <h2 class="page__title">{{ page.page }}</h2>
  <nav class="page__nav " ng-if="parents.length> 0">
    <div class="page__nav-line"></div>
    <ul>
      <li class="page__list-item" ng-repeat="parent in parents">
        <a class="page__link" ng-click="handleClick(parent.id, $event)">{{ parent.page }}</a>
      </li>
    </ul>
  </nav>

  <div class="page__line" ng-repeat="deputy in page.deputies" ng-class="{'page__line--{{$index}}-of-{{page.deputies.length - 1}}' : true, 'page__line--blue': page.deputies[$index].link}"></div>

  <div class="circle circle--head" ng-click="handleClick(deputy.link, $event)">
    <div ng-class="{'circle__spinner': page.head.image}">
      <div class="circle__front">
        <div class="circle__name" ng-if="page.head.name">{{ page.head.name }}</div>
        <div class="circle__title" ng-if="page.head.title">{{ page.head.title }}</div>
        <img ng-if="page.head.image" class="circle__image" ng-src="{{ page.head.image }}" />
        <div ng-if="page.head.image" class="circle__spin-icon"></div>
      </div>
      <div class="circle__back">
        <img ng-if="page.head.image" class="circle__image" ng-src="{{ page.head.image }}" />
        <div ng-if="page.head.image" class="circle__spin-icon"></div>
      </div>
    </div>
  </div>

  <div ng-repeat="deputy in page.deputies" class="circle circle--deputy" ng-class="{'circle--{{$index}}-of-{{page.deputies.length - 1}}' : true, 'circle--link': deputy.link, 'circle--static': !deputy.image && !deputy.link, 'circle--video': hasVideo(deputy.link)}" ng-click="handleClick(deputy.link, $event)">
    <div ng-class="{'circle__spinner': deputy.image}">
      <div class="circle__front" ng-class="{'circle__front--link': deputy.link}">
        <div ng-if="deputy.link" class="circle__link-icon"></div>
        <div class="circle__name" ng-if="deputy.name">{{ deputy.name }}</div>
        <div class="circle__title" ng-if="deputy.title">{{ deputy.title }}</div>
        <img ng-if="deputy.image" class="circle__image" ng-src="{{ deputy.image }}" />
        <!-- Removed at client request -->
        <!-- <div ng-if="hasVideo(deputy.link)" class="circle__video">
          Watch video
        </div> -->
        <div ng-if="deputy.image" class="circle__spin-icon"></div>
      </div>
      <div class="circle__back">
        <img ng-if="deputy.image" class="circle__image" ng-src="{{ deputy.image }}" />
        <div ng-if="deputy.image" class="circle__spin-icon"></div>
      </div>
    </div>
  </div>
</div>
