<div class="video" ng-init="show = 'video'; transcript = false;">
  <a class="video__link" ng-click="setShowFrame(true)" ng-if="closable">
    <img ng-src="{{video.video.poster}}" alt="Click to launch video.">
  </a>

  <div class="video__frame animation-fade" ng-if="showFrame === true">
    <div class="video__container">
      <nav class="video__nav">
        <button type="button" class="video__button" name="button" ng-click="transcript = !transcript" ng-class="{'video__button--active': transcript}">Toggle transcript</button>

        <ul class="video__nav-list">
          <li class="video__nav-item">
            <a class="video__nav-link" ng-class="{'video__nav-link--active': show === 'video'}" ng-click="show = 'video'">Video</a>
          </li>
          <li class="video__nav-item">
            <a class="video__nav-link" ng-class="{'video__nav-link--active': show === 'audio'}" ng-click="show = 'audio'">Audio Only</a>
          </li>
          <li class="video__nav-item" ng-if="closable">
            <a class="video__nav-link" ng-click="$parent.$parent.setShowFrame(false)">Close</a>
          </li>
        </ul>
      </nav>

      <audio media-completer data-id="{{video.id}}" autoplay class="video__audio" ng-if="show === 'audio'" controls preload="auto">
          <source type="audio/mpeg" ng-src="{{video.audio.src}}" />
          Your browser does not support the audio tag
        </audio>

      <div class="video__wrapper">
        <!-- <video media-completer data-id="{{video.id}}" autoplay class="video__video" ng-if="show === 'video'" ng-attr-poster="{{video.video.poster}}" controls preload="none"> -->
        <video media-completer data-id="{{video.id}}" autoplay class="video__video" ng-if="show === 'video'" controls preload="none">
          <source type="video/mp4" ng-src="{{video.video.src}}" />
          Your browser does not support the video tag
        </video>
      </div>

      <div ng-if="transcript" ng-include="video.transcript" class="video__transcript"></div>
    </div>
  </div>
</div>
