.circle {
  position: absolute;
  width: $circle-size;
  height: $circle-size;
  cursor: pointer;
  transform: translate(-50%, -50%);
  perspective: 1000;

  &--video {
    .circle__front {
      padding-bottom: 0;
    }
  }

  &__video {
    @include font('primary', 'bold');
    @include type-setting(-1);

    z-index: +1;
    margin: to-rem(12) 0 0;
    color: color('white');

    &::before {
      display: block;
      width: 0;
      height: 0;
      margin: 0 auto;
      border-top: to-rem(4) solid transparent;
      border-bottom: to-rem(4) solid transparent;
      border-left: to-rem(6) solid color('white');
      content: '';
    }
  }

  &:hover {
    .circle__spinner {
      .modernizr_no-touchevents & {
        transform: rotateY(180deg);
        transform-origin: center;
      }

      .modernizr_no-preserve3d & {
        transform: none;

        .circle__front {
          opacity: 0;
        }

        .circle__back {
          transform: none;
        }
      }
    }
  }

  &--spin {
    .circle__spinner {
      transform: rotateY(180deg);
      transform-origin: center;
    }
  }

  &__spin-icon {
    @include icon('spin');

    position: absolute;
    bottom: to-rem(16);
    left: 50%;
    z-index: +1;
    width: to-rem(24);
    height: to-rem(24);
    margin-top: to-rem(8);
    transform: translateX(-50%);

    .modernizr_backgroundsize & {
      background-size: contain;
    }
  }

  &__link-icon {
    position: absolute;
    top: to-rem(16);
    left: 50%;
    z-index: +1;
    width: to-rem(24);
    height: to-rem(24);
    margin-top: to-rem(8);
    background-color: color('blue');
    background-image: linear-gradient(to right, transparent 0%, transparent 25%, color('white') 25%, color('white') 75%, transparent 75%, transparent 100%), linear-gradient(to bottom, transparent 0%, transparent 25%, color('white') 25%, color('white') 75%, transparent 75%, transparent 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: to-rem(24) to-rem(2), to-rem(2) to-rem(24);
    transform: translateX(-50%);
    flex-basis: 100%;
  }

  &__spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform $primary-transition-duration * 2;

    .modernizr_preserve3d & {
      transform-style: preserve-3d;
    }
  }

  &--static {
    cursor: default;

    .circle__front::after {
      background-color: color('grey');
      opacity: 1;
    }
  }

  &__front {
    @include flex-centered;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: to-rem(16);
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    transform: rotateY(0deg);
    background-clip: padding-box;
    backface-visibility: hidden;
    overflow-wrap: break-word;

    &--link {
      //
    }

    .circle__image {
      transform: rotateY(180deg) translate(50%, -50%);
      transform-origin: center;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-color: color('purple');
      content: '';
      opacity: .9;
    }
  }

  &__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-radius: 50%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

  &__name {
    @include font('primary', 'bold');
    @include type-setting(-2);

    z-index: +1;
    padding: 0 to-rem(8);
    margin: 0 0 to-rem(4) 0;
    color: color('white');

    .ie10 & {
      position: relative;
      z-index: +1;
      width: 95%;
    }
  }


  &__title {
    @include font('primary');
    @include type-setting(-2);

    z-index: +1;
    color: color('white');

    .ie10 & {
      position: relative;
      z-index: +1;
      width: 95%;
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }

  &--head {
    top: $y0;
    left: $x0;
    z-index: +1;
  }

  &--link {
    .circle__front {
      &::after {
        background-color: color('blue');
        opacity: 1;
      }
    }

    &:hover {
      .circle__spinner {
        .modernizr_no-touchevents & {
          transform: none;
          transform-origin: center;
        }
      }
    }

    &.circle--spin {
      .circle__spinner {
        transform: none;
        transform-origin: center;
      }
    }
  }

  @for $y from 0 through 5 {
    $angle-config: nth($angles, $y + 1);

    @for $i from 0 through $y {
      $theta: $i * map-get($angle-config, 'spacer') + map-get($angle-config, 'offset');

      &--#{$i}-of-#{$y} {
        top: $radius * sin($theta) + $y0;
        left: $radius * cos($theta) + $x0;
      }
    }
  }
}
