.instructions {
  // transform: translate(-50%, -50%);
  position: static;
  // top: 50%;
  // left: 50%;
  // width: percentage($width);
  // max-width: to-rem($max-width);

  strong {
    font-weight: bold;
  }

  &__title {
    @include heading(1);

    margin-top: to-rem(32);
    color: color('grey');
  }

  &__link {
    @include font('primary', 'bold');
    @include type-setting(1);

    display: inline-block;
    padding: to-rem(16);
    color: color('white');
    cursor: pointer;
    background-color: color('blue');

    &:hover {
      background-color: color('grey');
    }

    + .instructions__link {
      margin-left: auto;
    }
  }

  &__flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__text {
    @include font('primary');
    @include type-setting(0);

    margin: $u 0;
    color: color('grey');
    flex-basis: 100%;
  }

  &__logo {
    position: relative;
    top: to-rem(-176);
    max-width: to-rem(240);
    margin-right: to-rem(-48);
    margin-left: auto;
  }
}
