.page {
  height: to-rem($height);
  max-height: 100vh;

  // IE doesn't follow standard rules for absolute positioned elements inside flex
    .ie10 &,
    .ie11 & {
      top: 50%;
      transform: translateY(-50%);

      .page {
        top: 0;
        transform: none;
      }
    }

  &__exit {
    @include font('primary', 'bold');
    @include type-setting(1);

    position: absolute;
    right: 0;
    bottom: 0;
    padding: to-rem(16);
    min-width: to-rem(128);
    max-width: calc(100vh - #{to-rem(32 * 2)});
    text-align: center;
    color: color('white');
    cursor: pointer;
    width: auto;
    background-color: color('blue');

    &:hover {
      background-color: color('grey');
    }
  }

  &__title {
    @include heading(2);

    margin:0;
    color: color('purple');
    position: absolute;
  }

  &__logo {
    width: to-rem(216);
  }

  &__completion {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;

    &-title {
      @include type-setting(1);
      @include font('primary', 'bold');

      margin: to-rem(32) 0 0;
      color: color('black');
    }

    &-text {
      @include type-setting(0);
      @include font('primary');

      color: color('black');
    }

    &-check {
      @include type-setting(0);
      @include font('primary', 'bold');

      display: flex;
      align-items: center;
      color: color('blue');
      margin: to-rem(12) 0;
      cursor: pointer;
      justify-content: flex-end;

      &:hover {
        color: color('grey');
      }

      &::after {
        margin: 0 0 0 to-rem(16);
        content: '';
        display: block;
        width: to-rem(24);
        height: to-rem(24);
        border: 1px solid color('grey');
        color: color('grey');
        background-color: color('white');
        font-size: to-rem(18);
        line-height: to-rem(24);
        text-align: center;
      }


      &--done {
        &::after {
          content: '\2714';
        }
      }
    }
  }

  &__nav {
    position: absolute;
    bottom: calc(100% - #{$y0 - to-rem(96)});
    left: $x0;

    &-line {
      height: to-rem(123);
      border: to-rem(1) dashed color('blue');
      position: absolute;
      left: 0;
      top: to-rem(26.5);
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  &__instruction {
    @include type-setting(-1);
    @include font('primary');

    position: absolute;
    top: to-rem(0);
    right: to-rem(64);
    width: auto;
    text-align: right;
    color: color('grey');


    p {
      margin: 0;
    }

    li {
      margin: 0;

      &::after {
        display: inline-block;
        content: '';
        width: to-rem(4);
        height: to-rem(4);
        background-color: currentColor;
        border-radius: 50%;
        vertical-align: middle;
        margin-left: to-rem(8);
      }
    }
  }

  &__list-item {
    margin: $nav-gap 0;
  }

  &__link {
    @include type-setting(-1);
    @include font('primary', 'bold');

    padding: ($nav-gap / 2) 0 ($nav-gap / 2) to-rem(32);
    position: relative;
    color: color('blue');
    cursor: pointer;
    user-select: none;

    &::before {
      position: absolute;
      display: block;
      width: to-rem(32);
      height: to-rem(32);
      top: 50%;
      left: 0;
      background-color: color('blue');
      background-position: center;
      background-repeat: no-repeat;
      background-image: linear-gradient(to right, transparent 0%, transparent 25%, color('white') 25%, color('white') 75%, transparent 75%, transparent 100%), linear-gradient(to bottom, transparent 0%, transparent 25%, color('white') 25%, color('white') 75%, transparent 75%, transparent 100%);
      background-size: 100% to-rem(2), to-rem(2) 100%;
      border-radius: 100%;
      content: '';
      transform: translate(-50%, -50%);
    }
  }

  &__line {
    position: absolute;
    width: $radius;
    height: to-rem(2);
    background-image: url('../img/dash--purple@2x.png');
    background-size: to-rem(30 / 4) to-rem(8 / 4);
    background-repeat: repeat;

    &--blue {
      background-image: url('../img/dash--blue@2x.png');
    }

    @for $y from 0 through 5 {
      $angle-config: nth($angles, $y + 1);

      @for $i from 0 through $y {
        $theta: $i * map-get($angle-config, 'spacer') + map-get($angle-config, 'offset');

        &--#{$i}-of-#{$y} {
          top: $y0;
          left: $x0;
          transform: rotate($theta);
          transform-origin: left;
        }
      }
    }
  }
}
