.video {
  $aspect: 16 / 9;
  $offset: 360px;
  $max-width: '100vh * #{$aspect} - #{$offset}';
  $color: #f8f8f8;

  &__audio {
    width: 100%;
    max-width: to-rem(720);
    margin: 0 auto;
    // flex-basis: 100%;
    flex-grow: 0;
  }

  &__container {
    display: flex;
    height: 100vh;
    max-width: calc(#{$max-width});
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 0;
    max-width: 100%;
    padding: percentage(1 / $aspect) 0 0 0;
    overflow: hidden;

    > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &__video {
    // max-width: to-rem(1440);
    // margin: 0 auto;
    // flex-grow: 0;
  }

  &__transcript {
    @include font('primary');

    padding: to-rem(32);
    overflow-y: auto;
    color: color('black');

    // IE doesn't scroll flex items unless it has a basis set
    .ie10 &,
    .ie11 & {
      flex-basis: 1rem;
      flex-grow: 1;
    }

    * {
      max-width: to-rem(640);
      margin-right: auto;
      margin-left: auto;
    }

    p,
    li {
      @include type-setting(0);

      margin-bottom: $u;
    }

    li {
      padding-left: $u;
      list-style-type: disc;
    }

    h1 {
      @include heading(1);

      margin-bottom: $u;
    }

    h2 {
      @include heading(2);

      margin-bottom: $u;
    }

    h3 {
      @include heading(3);

      margin-bottom: $u;
    }

    h4 {
      @include heading(4);

      margin-bottom: $u;
    }
  }

  &__button {
    @include font('primary');

    display: inline-block;
    padding: $u;
    margin: 0 auto 0 0;
    font-size: to-rem(18);
    line-height: 0;
    color: color('white');
    cursor: pointer;
    background-color: color('blue');
    border-radius: to-rem(8);
    user-select: none;

    &--active {
      background-color: color('purple');
    }
  }

  &__link {
    position: relative;
    display: block;
    width: $video-small-width;
    // prevent flashing
    height: $video-small-width * 9 / 16;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      border-top: to-rem(18) solid transparent;
      border-bottom: to-rem(18) solid transparent;
      border-left: to-rem(32) solid color('white');
      content: '';
      transform: translate(-50%, -50%);
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-color: color('purple');
      content: '';
      opacity: .9;
    }
  }

  &__frame {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    max-height: 100vh;
    background-color: $color;
    // flex-wrap: wrap;
    // align-items: flex-start;
    // align-content: center;
  }

  &__nav {
    display: flex;
    width: 100%;
    padding: 0 to-rem(16);
    margin-left: auto;
    background: $color;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: baseline;
  }

  &__nav-list {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: right;
    list-style: none;
  }

  &__nav-item {
    display: inline;
  }

  &__nav-link {
    @include type-setting(1);
    @include font('primary');

    display: inline-block;
    padding: to-rem(16);
    margin-top: to-rem(16);
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    border-top-right-radius: to-rem(4);
    border-top-left-radius: to-rem(4);

    &--active {
      color: #6c2463;
      background: #f0f0f0;
    }
  }
}
