<h1>Customer Contact - Head: Lynne Pitchford</h1>
<h2>Core/Collective Objective For the Delivery Area</h2>
<p>Hi, I am Lynne Pitchford and Im the Head of NCSC’s Customer Contact Team. I am going to talk a bit about the Customer contact area, its core functions which are Concerns, Enquiries, Information Sharing and Capacity Planning teams and the key things that we are working together to achieve.</p>
<h2>Concerns Team</h2>
<p>I am going to start by explaining to you about the Concerns team.</p>
<p>The team handle all information of concern received via any inbound route including telephone, email, web and post.</p>
<p>The team is made up of the following roles:</p>
<ul>
  <li>1x Operations Manager</li>
  <li>4x Team Managers</li>
  <li>2x Performance Coaches</li>
  <li>Approximately 40x Customer Contact Advisors</li>
</ul>
<p>Information of concern covers abuse and neglect (safeguarding), whistleblowing and complaints from patients detained under the Mental Health Act about their care and treatment.</p>
<p>The team handle information from customers who are potentially vulnerable or distressed. They aim to professionally manage all customer interactions, gathering as much information as possible.</p>
The team also handle information about services which people believe should be registered with CQC but aren’t.</p>
<p>In order to support customers, the team work in partnership with other organisations such as the Local Government Ombudsman and the Whistleblowing Helpline. The aim here is around providing a supportive customer journey where concerns are directed to the appropriate organisation.</p>
<p>The team carry out secure referrals of safeguarding information to Local Authority safeguarding teams and the police on behalf of Inspectors.</p>
<p>The team also handles frontline calls on behalf of the Office of the National Guardian.</p>
<p>As you can see we support lots of different customers in this team. They range from members of the public, service users, their friends, relatives and representatives. We also support CQC colleagues when they are referring information of concern on to the team. These CQC colleagues range from inspectors to national teams.</p>
<h3>What Does Good Delivery Look Like in the Concerns Team?</h3>
<ul>
  <li>Customers should expect a professional, structured experience when sharing their concerns.</li>
  <li>Customers should feel their concerns are handled with an appropriate level of compassion and respect.</li>
  <li>Customers should feel that they understand what CQC may do in response to their concerns and what CQC cannot do – expectations should be clearly explained.</li>
  <li>The team receive contact from potentially distressed or vulnerable customers, and these should be handled calmly and professionally.</li>
  <li>Staff should take professional control of customer interactions, displaying CQC values in all they do.</li>
  <li>Good delivery will mean customer contact is handled promptly, within agreed service levels, and information is both captured and responded to accurately, meeting quality assurance standards.</li>
</ul>
<h2>Enquiries Team</h2>
<p>I am now going to talk to you about the Enquiries team.</p>
<p>The enquiries team provide multi-channel customer services and act as the first point of contact for the Commission. What I mean by multi-channel is that the team deals with enquiries via phone, email and post, assisting internal colleagues and external stakeholders such as members of the public, providers and various other partner services. This team also provide customer services for Health watch England, answering inbound calls for this organisation.</p>
<p>The team is made up of the following roles:</p>
<ul>
  <li>2x Operations Managers</li>
  <li>6x Team Managers</li>
  <li>4x Performance Coaches</li>
  <li>Approximately 63x Customer Support Advisors</li>
</ul>
<p>The types of queries range from areas such as registration, compliance, data requests, website queries and general advice relating to the services we regulate. In order to provide the appropriate response a wide breadth of knowledge is held within the team.</p>
<p>The team strive for first point resolution in all of their interactions with customers. Multi-skilled advisors ensure there is sufficient skill and resource within the contact area to effectively handle any peaks in demand, ensuring that Service Level Agreements (SLA's) are achieved.</p>
<p>Like the Concerns Team, this team also has lots of different types of customers, including members of the public, registered providers in addition to internal teams such as colleagues in HR, finance and intelligence</p>
<h3>What Does Good Delivery Look Like in the Enquiries Team?</h3>
<p>Providing customers with quick, clear and accurate answers to the questions they are asking. Achieving first point resolution wherever possible, anticipating future customer needs and signposting appropriately to other organisations when required.</p>
<p>Giving customers a professional, caring and efficient experience of interacting with CQC. Enquiries team are often the first impression people have of the organisation, so providing our customers with a positive experience is paramount. </p>
<p>We measure wait times and track calls that are abandoned as customers expect calls and emails to be answered within a reasonable timeframe and don’t want to have to wait for their call to be answered. Promises met with regards to returning call back requests or providing updates to queries.</p>
<p>Minimal handoffs to other internal departments and clear expectations are set for both the customer and receiving team when we have to refer the customer on to another department or team.</p>
<p>Concerns recognised and escalated to the correct team quickly and consistently.</p>
<h2>Information Sharing Team</h2>
<p>I am now going to talk to you about the Information sharing team.</p>
<p>The Information Sharing Team has two functions:</p>
<ul>
  <li>They receive all hard copy mail and in most instances they scan these documents and deliver them electronically to teams within and outside of NCSC to action.</li>
  <li>They also process information received from providers, Local Authorities, the Health &amp; Safety Executive, Coroners and other organisations where information sharing agreements are in place and pass this on to the relevant Relationship Owner.</li>
</ul>
<p>The team is structured in the following way:</p>
<ul>
  <li>1x Operations Manager</li>
  <li>2x Performance Coaches</li>
  <li>4x Team Managers</li>
  <li>Approximately 40x Administrators</li>
</ul>
<p>This team has a range of customers. These are:</p>
<ul>
  <li>Other teams within NCSC</li>
  <li>Other teams outside of NCSC (HR; Finance; Private Officer; Information Access)</li>
  <li>Providers (Statutory Notifications)</li>
  <li>Local Authorities (safeguarding information and Riddors)</li>
  <li>Health and Safety Executive (Riddors)</li>
  <li>Coroners (Regulation 28 Reports and invites)</li>
  <li>Other organisations where information sharing agreements are in place (for example Local Government Ombudsman; Local Health Watch etc)</li>
</ul>
<h3>What Does Good Delivery Look Like in the Information Sharing Team?</h3>
<p>Good delivery means that when Information is received into the team it is accurately identified, effectively prioritised and actioned in line with agreed procedures and timelines.</p>
<h2>Capacity Planning Team</h2>
<p>I will now share a bit more about the Capacity Planning Team. This team is responsible for ensuring we have sufficient staff to answer the telephone lines across the contact team. The Capacity Planning Team are also responsible for forecasting and scheduling ensuring calls data is utilised to produce accurate team rosters. The work this team does enables our Customers to be responded efficiently and effectively.</p>
<p>The team will also hold a capacity plan for the Contact Team which will effectively manage the workforce planning side to ensure that the team is resourced accurately.</p>
<p>The team is also provide support to Advisors handling calls throughout the working day.</p>
<p>They also manage some key mailboxes in to NCSC such as the ASK NCSC mailbox, Social media queries &amp; the Provider Portal.</p>
<p>As you can imagine from the nature of this teams work, the majority of this teams customers are Internal ranging from other teams in the centre to specific departments.</p>
<h2>Performance Culture</h2>
<h3>Vision for the New Delivery Model</h3>
<p>As a first point of contact, the customer is at the heart of what we do. We need to be efficient, professional and caring.</p>
