<h1>Customer Support - Head: Jill Gray</h1>
<h2>Core/Collective Objective For the Delivery Area</h2>
<p>Hello I'm Jill Gray, and I'm the Head of NCSC Support. I have been with CQC since January 2017 and I come from a background of managing customer service and processing teams in contact centres, including in highly regulated businesses like CQC. It's my role to make sure that the Support area in NCSC is a high-performing team.</p>
<p>Of course what that means is delivering an excellent service to anyone who needs our support – and that could be external customers or colleagues in other teams.</p>
<p>It also means making sure we build great relationships with each other and we will do that by living our other values every day – being caring to our colleagues, having integrity in everything we do and working really well as a team.</p>
<p>I am going to talk about the Customer Support area, its core functions and the key things that we are working to achieve together.</p>
<h2>Enforcement and Inspection Correspondence</h2>
<p>The enforcement and inspection correspondence team has two core functions which underpin the work of inspectors.</p>
<p>First of all, I'll start by taking you through what the team do when supporting Inspection Correspondence.</p>
<p>This team receive and process various types of correspondence and this work is usually sent to us by inspectors via a 'fulfilment centre' on the CRM system.</p>
<p>We receive things like draft and final inspection reports, registration certificates, Notices and general correspondence about a service.</p>
<p>The second thing the team are responsible for is supporting Enforcement Correspondence or documentation. So when a provider potentially breaches a regulation, inspectors send important documentation over to the team, which they process and then send to providers.</p>
<p>The team is structured as follows:</p>
<ul>
  <li>1x Operations Manager</li>
  <li>3x Team Managers</li>
  <li>12x Co-ordinators</li>5
  <li>15x Administrators</li>
  <li>1x Performance Coach</li>
</ul>
<p>Our main customer base in this team is internal so we regularly support inspectors and their managers, heads of inspection and the deputy chief inspectors. We also work closely with colleagues within NCSC and business services as well as legal colleagues.</p>
<p>Our external customers are providers and legal representatives such as solicitors.</p>
<h3>What Does Good Delivery Look Like in Enforcement and Inspection Correspondence?</h3>
<p>For me good delivery is about always meeting service level agreements and doing that without any errors. It's also about everyone being pro-active about helping their colleagues and being passionate about giving a fantastic customer experience regardless of who it's for or what work we're carrying out. Wrapped around all of this will be visibly strong values and behaviours.</p>
<h2>Inspection Support</h2>
<p>I am now going to talk to you about the Inspection support team. This is a really busy team and they are responsible for key tasks which support colleagues across the business in a number of ways. These include:</p>
<ul>
  <li>Booking travel and accommodation for all staff across CQC, making sure that we are mindful of policy and value for money at all times.</li>
  <li>Preparing key inspection documents and materials for larger-scales hospital inspections.</li>
  <li>Making sure that inspection teams and services are fully prepared for upcoming inspections by supporting CQCs data collection process. This includes creating and managing secure file transfer accounts.</li>
</ul>
<p>The team is structured in the following way:</p>
<ul>
  <li>1x Operations Manager</li>
  <li>3x Team Manager</li>
  <li>2x Performance Coaches</li>
  <li>Coordinators</li>
  <li>Administrators</li>
</ul>
<p>Again, this team has lots of customers, including inspectors, their managers, inspection planners and any other teams involved in the set up and planning of inspections such as Analysts, Delivery and Development and Engagement teams. </p>
<p>The team also work with local and national stakeholders who the team need to contact in relation to inspection information. We also regularly work with suppliers around travel and accommodation for CQC staff.</p>
<h3>What Does Good Delivery Look Like in Inspection Support?</h3>
<p>Within the inspection support team, we feel that good delivery is about processing tasks in a timely and cost effective manner. These considerations underpin all of the various processes we support.</p>
<p>For example:</p>
<ul>
  <li>We make sure that travel and accommodation is booked quickly and in the most efficient manner possible.</li>
  <li>We make sure that Inspection teams have all the relevant documentation and material they need ahead of site visits.</li>
  <li>We share information effectively between services and CQC to enable inspectors to carry out high quality evaluations of services.</li>
</ul>
<h2>Registration – Customer Support Team</h2>
<p>The Disclosure and Barring Service (DBS) helps employers make safer recruitment decisions and their checks do prevent unsuitable people from working with vulnerable groups, including children.</p>
<p>The registration team role is to make sure that applicants have provided all the relevant information in their application when they are trying to register with CQC, so they need to carry out the appropriate completeness checks in a timely manner.</p>
<p>This work is essential in making sure applications are of a high standard.</p>
<p>Applications are then passed over to Registration Inspector colleagues which they use to help them make rigorous judgements around carrying out Regulated activities at the Service.</p>
<p>This team has a range of internal and external customers. These are:</p>
<ul>
  <li>External Customer
    <ul>
      <li>The Disclosure and Barring Service</li>
      <li>New DBS applicants</li>
      <li>New and existing providers</li>
      <li>Service Users</li>
    </ul>
  </li>
  <li>Interal Customer
    <ul>
      <li>Heads of Registration</li>
      <li>Registration Inspectors</li>
      <li>Inspectors and their Inspection Managers</li>
      <li>The webteam (for the provider portal)</li>
    </ul>
  </li>
</ul>
<h3>What Does Good Delivery Look Like in the Registration – Customer Support Team?</h3>
<p>My vision of effective delivery in the Registration Customer support team is for new and existing providers to be confident in the services we provide right from the start. This interaction is the beginning of their journey into regulation and we want to make sure that they are confident that this is a high quality service that delivers value for money for them.</p>
<p>I also want the public to be confident that the services provided by all of the providers who register with us are safe, caring, responsive, effective and well led. They need to have complete confidence that providers have passed through rigorous checks with the CQC. When our Registration teams interact with all of their internal and external customers, when they focus on delivering a quality, efficient and timely service, then that will help create that confidence right from the start.</p>
<h2>Performance Culture</h2>
<h3>Vision for the New Delivery Model</h3>
<p>My vision for the new way of working of the Support Team is that every single person in that team feels empowered to make a difference, and that they understand how they personally contribute to being part of a high-performing team.</p>
<p>I see everyone being passionate about delivering a great service to our colleagues both within NCSC and across the wider business.</p>
<p>And ultimately, I want everyone to feel proud of the part they play in making providers and the public confident that the CQC delivers a quality, value-for-money service.</p>
