<h1>Customer Services - Head: Tracey Forester</h1>
<h2>Welcome</h2>
<p>Welcome, I am Tracey Forester and I am the Director of Customer Services. I see my role as ensuring we have the right development and support for you, the right systems in place and ensuring you have the tools to do your role well. I spend a fair bit of my time talking to colleagues across all parts of CQC to ensure NCSC (which stands for National Customer Support Centre) is recognised for the great work it does but importantly ensuring it remains in the strongest position to offer value to all of CQC going into the future. This means I spend a good proportion of my time ensuring NCSC is contributing in the most efficient way delivering on our CQC purpose. Just in case you need reminding this is "We make sure health and social care services provide people with safe, effective, compassionate, high-quality care and we encourage care services to improve.</p>
<p>Welcome to this e-learning module about our way of working.</p>
<p>Now that we are through the modernisation programme which focussed on our roles and structures, this module has been specially designed as part of the wider training programme to help explain our expected new ways of working within NCSC. In this context, this new approach concentrates on the beliefs and behaviours that determine how we interact and handle our exchanges with all customers. It is important to say this will take us time, perhaps a couple of years to really exceed in this new way of working but I am personally confident we have the right foundations in place now to commence in to this next phase of NCSCs future.</p>
<p>This will allow us to each own our part in our delivery and be accountable for our performance to our customers. Our new way of working is all about ensuring you are fully engaged in how we deliver and how we seek improvement. It is also about focussing on the customer, getting it right first time, learning from what they say but putting them at the front of all our improvement.</p>
<p>We will know that we have achieved this because we will all be focussed on the same common goals. Each of you will influence improvement and understand how important your contribution is to CQC. This will bring us together and encourage our full team to feel empowered, confident and inspired.</p>
<h2>Wider CQC</h2>
<p>I would like to share our CQC priorities with you which support our ambition to become a high performing team.</p>
<p>We will:</p>
<ul>
  <li>Encourage improvement, innovation and sustainability in care</li>
  <li>Support an intelligent driven approach to regulation</li>
  <li>Promote a single shared view of quality</li>
  <li>Improve efficiency and effectiveness.</li>
</ul>
<p>All that we do in NCSC will come back to how we are contributing to these four priorities ensuring you are fully engaged and that the customer is at the fore of all we choose to improve.</p>
<h2>Overview of the Module</h2>
<p>In the next half an hour or so, you will have the opportunity to learn about what each of our teams do, their structure and our shared objectives. The session will describe our links with teams within our directorate (CCS - Customer and Corporate Services) as well as our work with other directorates. This module is the first step to sharing an understanding of how you fit into NCSC, the CCS Directorate and CQC.</p>
<p>I hope you find this interesting and insightful. If you would like to learn more about the new way of working at NCSC please speak to your Team Manager, your Operations Manager or any of your Senior Leadership Team.</p>
