<h1>Performance Enabling Team - Head: Pauline Merle</h1>
<h2>Core/Collective Objective For the Delivery Area</h2>
<p>Hi, I am Pauline Merle and I've just taken up the post of Head of NCSC Performance Enabling Team. I am going to talk a bit about the Performance Enabling team, its core functions and the key things that we are working together to achieve.</p>
<h2>Performance Enabling Team</h2>
<p>There are 5 key functions that make up the Performance Enabling Team:</p>
<ul>
  <li>Project Management</li>
  <li>Business Analysts</li>
  <li>Performance Reporting</li>
  <li>OBIEE Analysts</li>
  <li>Workforce Planning &amp; Budget.</li>
</ul>
<p>These teams provide support to NCSC on business planning, management information and performance assurance to drive continuous improvement in our service.</p>
<p>So we regularly engage with a wide range of customers across CQC and within NSCS. Relationship building is important as it enables us to better understand the needs of our customers to and to support any changes to the services provided.</p>
<h3>What Does Good Delivery Look Like in the Performance Enabling Team?</h3>
<ul>
  <li>Engaging with our keys stakeholders to identify areas for improvement</li>
  <li>Our Subject Matter Expert teams proactively providing advice and guidance</li>
  <li>Understanding requests for change, the reasons and evaluating the impact</li>
  <li>Effectively communicating with our internal customers to drive improvements</li>
  <li>Providing accurate and timely performance, resources and workforce plans and information to our customers</li>
  <li>Supporting post-implementation improvements.</li>
</ul>
<h2>Our Teams</h2>
<p>I am now going to talk to you about the role and structure of the teams:</p>
<ul>
  <li>Our Project Management team: is responsible for prioritising and planning NCSC projects and change requirements to enable effective implementation of new initiatives.</li>
  <li>Our Business Analysts: Liaise with stakeholders to understand the current operating model and recommend appropriate solutions that enable NCSC to achieve its goals.</li>
  <li>Our Project Management team: is responsible for prioritising and planning NCSC projects and change requirements to enable effective implementation of new initiatives.</li>
  <li>Our Performance Reporting team: provides the expertise to analyse and report on management information e.g. risk, complaints, and overall performance of our support and contact centres to support continuous improvement.</li>
  <li>Our OBIEE analysts: delivers system changes, MI and reports to support the NCSC's processes.</li>
  <li>Workforce Planning &amp; Budgets: provides timely and accurate workforce and budget information to enable an effective service in NCSC.</li>
</ul>
<h2>Performance Culture</h2>
<h3>Vision for the New Delivery Model</h3>
<p>As a new team my vision is for us to build a cohesive, confident team of experts that develop strong relationships with our customers within NCSC and across CQC so that we can fully understand their needs and the challenges they face, so that we can support them in delivering a highly effective service and enable ongoing improvements to meet the changing needs of our internal and external users.</p>
