<!doctype html>
<html ng-app="ncsc.app" ng-cloak>
<!--[if lte IE 9]>
  <html class="old-ie">
<![endif]-->

<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <title>NCSC Organisation Chart</title>
  <style>
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
      display: none !important;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="css/app.css">

  <script src="js/app-debug.js"></script>
  <script src="https://use.typekit.net/mur2gwr.js"></script>
  <script>
    try {
      Typekit.load({
        async: true
      });
    } catch (e) {}
  </script>
</head>

<body ng-controller="AppController as vm">
  <div ng-if="vm.state === 'welcome'" class="welcome animation-fade">
    <div video-player show-frame="true" closable="false" video="{'transcript': 'video/transcript1.html','id': 'video1','audio': {'src': 'video/customer-support-services.mp3'},'video': {'src': 'video/customer-support-services.mp4','poster': 'video/customer-support-services.jpg'}}"></div>
  </div>

  <div ng-if="vm.state === 'instructions'" class="instructions animation-fade">
    <h1 class="instructions__title">Instructions</h1>
    <p class="instructions__text">Welcome to this module for the <strong>NCSC: The new way of working</strong>.</p>
    <p class="instructions__text">The module will guide you through the Customer Support Services area of the Customer and Corporate Services directorate.</p>
    <p class="instructions__text">There are three videos that must viewed to complete the module. You can view these by clicking on the video titles at the top right of the structure chart. To see the scripts in each video, just click on Toggle Transcript.</p>
    <p class="instructions__text">A tick will appear next to each video title once they are completed.</p>
    <p class="instructions__text">To navigate through the organisational charts, just click on the blue circles to guide you through the Customer and Corporate Services structure and teams.</p>
    <p class="instructions__text">To re-visit previous areas, click on the area titles in the branching at the top of the structure chart.</p>
    <p class="instructions__text">To close the module just click on the Exit button.</p>
    <p class="instructions__text">You can refer back to these instructions at any time using the Instructions button at the top right of the screen in the module.</p>

    <div class="instructions__flex-container">
      <p class="instructions__text">Click the button to continue</p>
      <a ng-click="vm.goPage()" class="instructions__link">Continue</a>
      <p class="instructions__text">or click below to replay Welcome video.</p>
      <div video-player set-show-frame="vm.setShowFrame" show-frame="vm.showFrame" closable="true" video="{'transcript': 'video/transcript1.html','id': 'video1','audio': {'src': 'video/customer-support-services.mp3'},'video': {'src': 'video/customer-support-services.mp4','poster': 'video/customer-support-services.jpg'}}"></div>
      <img class="instructions__logo" src="img/logo--academy.svg" alt="CQC Logo">
    </div>
  </div>

  <div ng-if="vm.state === 'page'" class="page animation-fade">
    <img class="page__logo" src="img/logo@2x.png" alt="CQC Logo">
    <div class="page__completion">
      <a ng-click="vm.state = 'instructions'" class="instructions__link">Instructions</a>
      <p class="page__completion-title">Video completion:</p>
      <ul class="page__completion-list">
        <li class="page__completion-list-item">
          <a ng-click="vm.current = 13; vm.clickList(); vm.setShowFrame(true);" class="page__completion-check" ng-class="{'page__completion-check--done': vm.completedContains('video3')}">Change &amp; Performance</a>
        </li>
        <li class="page__completion-list-item">
          <a ng-click="vm.current = 4; vm.clickList(); vm.setShowFrame(true);" class="page__completion-check" ng-class="{'page__completion-check--done': vm.completedContains('video4')}">Customer Support</a>
        </li>
        <li class="page__completion-list-item">
          <a ng-click="vm.current = 3; vm.clickList(); vm.setShowFrame(true);" class="page__completion-check" ng-class="{'page__completion-check--done': vm.completedContains('video2')}">Customer Contact</a>
        </li>
      </ul>
    </div>
    <h1 class="main-title">Organisation Chart</h1>
    <div set-show-frame="vm.setShowFrame" app-directive has-video="vm.hasVideo" direction="vm.direction" ng-if="vm.page" pages="vm.data.pages" show-frame="vm.showFrame" current="vm.current" handle-click="vm.handleClick" parents="vm.parents"></div>
  </div>
  <a ng-click="vm.exit()" ng-if="!vm.showFrame" class="page__exit">Exit</a>
</body>

</html>
