// webfonts are loading, hide content until done
.wf-loading {
  * {
    opacity: 0;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.is-loading {
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    @include icon('time--leads');

    display: block;
    width: to-rem(16);
    height: to-rem(16);
    content: '';
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: grow;
  }

  > * {
    display: none;
  }
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none!important;
}
